<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <script type="text/javascript" data-main="scripts/main" src="@Url.Content("~/scripts/lib/require.js")"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
